<!-- Pagina prncipal -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Electron</title>
    <!--Traer bootstrap alternativo de https://bootswatch.com/-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>

    <!-- centrar mi contenido con lo que me da boosttrap  -->
    <div class="container p.4">
        <!--    Otra clase Row  sera el contenedor de los productos  que 
            voy a agregar a travez de la otra ventana-->
        <div clase "row" id = "Products"></div>
    </div>

    <script>

       const Electron =  require('Electron');
       const products = document.querySelector ('#products¿s');

    
    </script>

</body>

</html>