<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Product</title>
    <!--Traer bootstrap alternativo de https://bootswatch.com/-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
    
    <!-- Formulario de agregar producto -->
    <form class="p-4">
        <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Product´s Name " autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="price" class="form-control" placeholder="Price">
        </div>
        <div class="format-group">
            <input type="text" name="" id="description" class="form-control" placeholder="Description">
        </div>
        <button class="btn btn.´primary btn-block">
            Save Product
        </button>
    </form>

    <!-- Evitar que se refresque el formulario -->
    <script>

        const form = document.querySelector('form');
        form.addEventListener('submit', event => {
            
            const nameProduct = document.querySelector('#name').value;
            const priceProduct = document.querySelector('#price').value;
            const descProduct = document.querySelector('#description').value;

            console.log(nameProduct, priceProduct, descProduct);
            event.preventDefault();
            
        });

    </script>

</body>
</html>
